<h1>Your Passwords</h1>

{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}.</p>
    <a href="{% url 'logout' %}">Logout</a>   
{% endif %}

{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
		    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
{% endif %}

{% block content %}

	{% for obj in pass_detail %}

		<h4>Account name: {{ obj.account_name }}</h4>
		<p>Username: {{ obj.user_name }}</p>
		<p>Password: {{ obj.password }}</p><br>
		
	{% endfor %}

{% endblock %}
